footer.footer
	.container
		.row
			.col-xl-12.text-center
				h6.section__header.mb-5 Download Mobile App
		.row.mb-5
			.offset-xl-2.col-xl-4.d-flex.justify-content-end
				a(href='#')
					.app-store-icon
			.col-xl-4.d-flex.justify-content-start
				a(href='#')
					.google-store-icon
		.row
			.col-xl-12.text-center
				p.copyright.mb-0.mt-5 Copyright © 2012-2018 VPN. All rights reserved.