footer.footer
	.container
		.row
			.col-lg-3
				a(href='/index.html').footer__link
					img(src='templates/images/logo.svg').footer__logo
				p.mb-0.footer-copyright © 2018 Ubitel. All Rights Reserved.
			.offset-6.col-lg-3
				p.footer__info.mb-0 Ubitel Technologies Ltd.
				p.footer__info.mb-0 Registration ID: 25478963
				p.footer__info.mb-0 81 Bury Rd., Halton West BD23 5EX
				p.footer__info.mb-0 United Kingdom