header.header
	.container
		.row
			.col-xl-12
				nav.navbar.navbar-expand-lg.justify-content-sm-center.justify-content-xs-center.justify-content-center.px-0
					a.navbar-brand(href='/index.html')
						img.logo-image(src='templates/images/vpninvisible-logo.svg')
					button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarToggle' aria-controls='navbarToggle')
						span.navbar-toggle-icon
					.collapse.navbar-collapse#navbarToggle
						ul.navbar-nav.align-items-center.ml-auto.mt-3
							li.nav-item
								a.nav-link(href='#') Why our App?
							li.nav-item
								a.nav-link(href='#') Do I need VPN?
							li.nav-item
								a.nav-link(href='#') Download
							li.nav-item
								a.nav-link(href='#') Pricing
							li.nav-item
								a.nav-link.button-default.button-header(href='#') Signup
