section.header
	.container
		.row
			.col-12
				.navbar.navbar-expand-lg.navbar-light
					a(href='/index.html').navbar-brand.mx-auto
						img.navbar-logo(src='templates/images/logo.svg' alt='logo')
					//- button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav')
					//- 	span.navbar-toggler-icon
					.collapse.navbar-collapse#navbarNav
						ul.navbar-nav.ml-auto
							li.nav-item
								a(href='#solution').nav-link Solution
							li.nav-item
								a(href='#how-it-work').nav-link How it works?
							li.nav-item
								a(href='#technology').nav-link Technology
							li.nav-item
								a(href='#market').nav-link Market
							li.nav-item
								a(href='#roadmap').nav-link Roadmap
							li.nav-item
								a(href='#team').nav-link Team
							li.nav-item
								a(href='#partners').nav-link Partners
							li.nav-item
								a(href='#').nav-link Tokens
							li.nav-item
								a(href='#footer').nav-link Contact Us