section.header
	.container
		.row
			.col-12
				.navbar.navbar-expand-lg.navbar-light
					a(href='./index.html').navbar-brand
						img.navbar-logo(src='templates/images/logo.svg' alt='logo')
					button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav')
						span.navbar-toggler-icon
					.collapse.navbar-collapse#navbarNav
						ul.navbar-nav.ml-auto
							li.nav-item
								a(href='#').nav-link Solution
							li.nav-item
								a(href='#').nav-link How it works?
							li.nav-item
								a(href='#').nav-link Technology
							li.nav-item
								a(href='#').nav-link Market
							li.nav-item
								a(href='#').nav-link Roadmap
							li.nav-item
								a(href='#').nav-link Team
							li.nav-item
								a(href='#').nav-link Partners
							li.nav-item
								a(href='#').nav-link Tokens
							li.nav-item
								a(href='#').nav-link Contact Us