section.how-it-work#how-it-work
	.container
		.row.how-it-work__header
			.col-12.text-center
				//- img(src='templates/images/arrow-down.svg' alt='arrow down').arrow-down
				h3.header-white.mb-0.mt-3 How it works?
		.row.how-it-work__block
			.offset-lg-1.col-lg-4.text-center
				img(src='templates/images/how-it-works-1.png').how-it-work__image.mb-3.mb-lg-0
			.col-lg-6
				p.how-it-work__text.mb-0.text-center.text-lg-left Insurance black box installed into client’s car. Blackbox detect accident dynamics and sends to Ubitel servers;
		.row.how-it-work__block
			.offset-lg-1.col-lg-4.text-center
				img(src='templates/images/how-it-works-2.png').how-it-work__image.mb-3.mb-lg-0
			.col-lg-6
				p.how-it-work__text.mb-0.text-center.text-lg-left Ubitel servers analyze accident and calculate compensation (in near to real time);
		.row.how-it-work__block
			.offset-lg-1.col-lg-4.text-center
				img(src='templates/images/how-it-works-3.png').how-it-work__image.mb-3.mb-lg-0
			.col-lg-6
				p.how-it-work__text.mb-0.text-center.text-lg-left User get (to Mobile app) proposal to accept compensation (in near to real time);
		.row.how-it-work__block
			.offset-lg-1.col-lg-4.text-center
				img(src='templates/images/how-it-works-4.png').how-it-work__image.mb-3.mb-lg-0
			.col-lg-6
				p.how-it-work__text.mb-0.text-center.text-lg-left User deliver car to authorised car repair center. If bill is higher, client upload bill in app and Ubitel pays difference in 24 hours;
	.container.border-top-dashed.mail-form
		.row
			.col-12.text-center
				h3.header-white Stay informed about ICO and public platform release
			.col-12.d-flex.justify-content-center
				form.form-mail.mt-4
					.form-group.mb-0
						input.form-control.form-mail__input(type='email' placeholder='Enter your email address')
					button.form-mail__button(type='submite') Stay updated

