section.main
	.container
		.row
			.col-xl-12
				.main-screen.py-5
					h1.main-screen__header Stay invisible with one touch.
					p.main-screen__text The simplest VPN App.
						a.main-screen__link(href='#') Try it for free.
					a.main-screen__btn.button-default Get it now!