section.main
	.container
		.row
			.offset-lg-1.col-lg-6
				.main__wrapper
					h1 Revolution in Car Inurance
					p Lowest premiums.
					p Fastest claims process.
				form.form-mail
					.form-group.mb-0
						input.form-control.form-mail__input(type='email' placeholder='Enter your email address')
					button.btn.btn-primary.form-mail__button(type='submite') Stay updated