section.mail-section
	.container
		.row
			.col-12.text-center
				h3.header-white Stay informed about ICO and public platform release
			.col-12.d-flex.justify-content-center
				form.form-mail.mt-4
					.form-group.mb-0
						input.form-control.form-mail__input(type='email' placeholder='Enter your email address')
					button.form-mail__button(type='submite') Stay updated