section.partners
	.container
		.row
			.col-12.text-center
				h3.section__header.mb-5 Partners
		.row
			.col-lg-6
				.partner__item
					img(src='templates/images/octo-img.jpg').partner__logo
					.partner__text
						p.partner__name.section__description.text-center The largest global telematics database
						p.parnter__descr.mb-0.text-center We have created and continue to grow the world’s largest insurance telematics database. We have analyzed 186 billion miles of driving data and 438,000 crashes to support the delivery of our services.
			.col-lg-6
				.partner__item
					img(src='templates/images/teltonika-img.jpg').partner__logo
					.partner__text
						p.partner__name.section__description.text-center Internet of things (IoT)
						p.parnter__descr.mb-0.text-center We have been creating the internet of things (IoT) for over 20 years now and we want our products and solutions to be used globally and to become indispensible in any business.