//- section.problem
//- 	.container
//- 		.row
//- 			.offset-1.col-lg-5
//- 				.problem-image__wrapper
//- 					img(src='')
//- 			.col-lg-6
//- 				.section__descr
//- 					.header-blue Problem
//- 					p.text-purple Car insurance is too expensive. 
//- 						span Compensation of accidents is too difficult and takes too long to get payment.
