section.solution
	.container
		.row
			.offset-lg-1.col-lg-5
				.section__descr
					.header-blue Solution
					p.text-purple Lowest fares insurance company with guaranteed compensation in 24 hours after accident.
			.offset-lg-1.col-lg-5
				.solution-image__wrapper