section.team
	.container
		.row
			.col-12.text-center
				h3.section__header.mb-5 Team
			.col-12
				ul.team__list
					li.team__item.text-center
						a.team__profile(href='#')
							img(src='templates/images/icon-linkedin.svg')
						img(src='templates/images/zydrunas.png').team__photo.mb-3
						p.team__name.name-purple.mb-2 Žydrūnas Andruška
						p.team__position.mb-0 CEO
					li.team__item.text-center
						a.team__profile(href='#')
							img(src='templates/images/icon-linkedin.svg')
						img(src='templates/images/mindaugas.png').team__photo.mb-3
						p.team__name.name-blue.mb-2 Mindaugas Kiznis
						p.team__position.mb-0 Solutions Architect
					li.team__item.text-center
						a.team__profile(href='#')
							img(src='templates/images/icon-linkedin.svg')
						img(src='templates/images/andrius.png').team__photo.mb-3
						p.team__name.name-blue--light.mb-2 Andrius Valentukonis
						p.team__position.mb-0 CTO
					li.team__item.text-center
						a.team__profile(href='#')
							img(src='templates/images/icon-linkedin.svg')
						img(src='templates/images/mindaugas-2.png').team__photo.mb-3
						p.team__name.name-azure.mb-2 Mindaugas Kaikaris
						p.team__position.mb-0 CMO
					li.team__item.text-center
						a.team__profile(href='#')
							img(src='templates/images/icon-linkedin.svg')
						img(src='templates/images/andrius-2.png').team__photo.mb-3
						p.team__name.name-green.mb-2 Andrius Kučiauskas
						p.team__position.mb-0 CRO & UX