section.technology
	.container
		.row
			.col-12
				.tehnology__header.text-center.mb-5
					h3.section__header Technology
					p.section__description.mb-0 Blockchain + Insurance Telematics + Usage Based Insurance (UBI)
		.row
			.col-lg-7
				.technology__descr
					p Blackbox. Telemetry device to detects car accident dynamics and sends to server; Data is encrypted and can be unlocked only with client’s acceptance. Client must deliver unique private digital key;
					p Digital insurance platform: platform issue insurance contracts and pay compensations automatically; Constantly learn and become more accurate in paying compensation to clients;
					p Blockchain: store public key of each Telemetry box and makes sure data of accident is not manipulated. As well guarantee privacy of data;
					p Mobile app: used to sign insurance contract, get compensation payments, upload bills from car repair;
					ul.technology__list
						li.technology__item.d-flex.mb-3.align-items-center
							.technology__icon
								img(src='templates/images/driver-analytics.svg')
							p.technology__name.mb-0 Driver Analitycs
						li.technology__item.d-flex.mb-3.align-items-center
							.technology__icon
								img(src='templates/images/vehicale-location.svg')
							p.technology__name.mb-0 Vehicale Location
						li.technology__item.d-flex.mb-3.align-items-center
							.technology__icon
								img(src='templates/images/usage-and-performance.svg')
							p.technology__name.mb-0 Usage and Performance
						li.technology__item.d-flex.mb-3.align-items-center
							.technology__icon
								img(src='templates/images/predictive.svg')
							p.technology__name.mb-0 Predictive behaviour
						li.technology__item.d-flex.mb-3.align-items-center
							.technology__icon
								img(src='templates/images/stolen.svg')
							p.technology__name.mb-0 Stolen Vehicale Recovery
						li.technology__item.d-flex.mb-3.align-items-center
							.technology__icon
								img(src='templates/images/crash.svg')
							p.technology__name.mb-0 Crash notifications
						li.technology__item.d-flex.align-items-center
							.technology__icon
								img(src='templates/images/automated.svg')
							p.technology__name.mb-0 Automated Emergency Assistance
			.col-lg-5.text-right
				img(src='templates/images/technology.svg').technology__image