section.why
	.container
		.row
			.col-lg-6
				.why-image__wrapper
					img(src='' alt='landscape')
			.col-lg-6
				.why__descr
					h3.header-purple--light.mb-4 Why Ubitel wins competition 
						span against classic Car Insurance Companies?
					ul.why__list
						li.why__item.d-flex.mb-2 Automated risk assessment and claims calculation;
						li.why__item.d-flex.mb-2 No thousands empoloyees and big offices;
						li.why__item.d-flex.mb-2 Shared resources for global operations;
						li.why__item.d-flex.mb-2 No sales and brokers networks;
						li.why__item.d-flex Transparent, cost effective automated reporting to central bank;