section.work-with
	.container
		.row
			.col-xl-7
				.container.pl-0
					.row
						.col-xl-3
							h4.work-with__header Work with
						.col-xl-3
							i.work-with__icon.i-youtube
							p.work-with__text Youtube Video
						.col-xl-3
							i.work-with__icon.i-casino
							p.work-with__text Online casinos
						.col-xl-3
							i.work-with__icon.i-adult
							p.work-with__text Adult Content Website
			.col-xl-5
				.container
					.row
						.col-xl-4
							h4.work-with__header Availible for
						.col-xl-4
							i.i-android
						.col-xl-4
							i.i-ios