.navbar{
	font-size: 17px;
}
.navbar-nav{
	.nav-item{
		margin-left: 37px;
		&:first-child{
			margin-left: 0;
		}
	}
	.nav-link{
		color: $headerColor;
		font-weight: $bold;
	}
}

.button-header{
	padding: 6px 26px 4px !important;
}