.main{
	padding: 3.5rem 0 5rem;
	background: url(../images/hero-bg.png) no-repeat center 25%;
	background-size: contain;
	&__text{
		font-size: 28px;
		font-weight: $light;
		color: $textColorHeader;
	}
	&__header{
		font-size: 56px;
		color: $textColorHeader;
		span{
			display: inline-block;
			width: 100%;
		}
	}
	&__image{
		max-width: 100%;
	}
}