.partners{
	padding: 4.5rem 0;
}
.partner{
	&__item{
		border: 1px solid $borderGrey;
		border-radius: 3px;
	}
	&__text{
		padding: 0 2rem 3.5rem;
	}
	&__logo{
		max-width: 100%;
		margin-bottom: 1.875rem;
	}
	&__descr{
		font-size: 16px;
		color: $textColorGrey;
	}
}