.reasons{
	background-color: $lightBlue;
	padding: 60px 0 78px;
	&__btn{
		width: 275px;
		height: 58px;
		line-height: 58px;
		font-size: 23px;
		font-weight: $medium;
		text-align: center;
	}
	&__images{
		width: 84px;
		height: 84px;
	}
	&__text{
		font-size: 18px;
		font-weight: $bold;
		color: $headerColor;
		position: relative;
		&:before{
			content: url(../images/icon-check.svg);
			height: 21px;
			width: 21px;
			left: -25px;
			top: 1px;
			position: absolute;
			display: none;
		}
	}
}
@media (max-width: 1200px){
	.reasons__text{
		&:before{
			display: block;
		}
	}
}
.section__header{
	margin-bottom: 5rem;
	&-black{
		font-size: 39px;
		max-width: 520px;
		margin: 0 auto;
		font-weight: $bold;
		color: $headerColor;
	}
	&-red{
		font-size: 39px;
		color: $red;
		width: 100%;
		font-weight: $bold;
	}
}
@media (max-width: 320px){
	.section__header-red{
		font-size: 34px;
	}
	.section__header-black{
		font-size: 28px;
	}
	.footer .section__header{
		font-size: 25px;
	}
}