.work-with{
	&__icon{
		display: inline-block;
		box-shadow: 0 0 4px rgba(100,100,100,.5);
		border-radius: 5px;
	}
	padding: 76px 0 66px;
	background-color: rgba(244,246,251,.52);
	&__header{
		font-size: 16px;
		color: $headerColor;
		font-weight: $bold;
		min-width: 105px;
		margin-bottom: 0;
		margin-right: 20px;
	}
	&__text{
		font-size: 13px;
		color: $headerColor;
		font-weight: $bold;
		margin-bottom: 0;
	}
}
.youtube__item{
	.work-with__text{
		max-width: 60px;
	}
}
.casino__item{
	.work-with__text{
		max-width: 52px;
	}
}
.adult__item{
	.work-with__text{
		max-width: 103px;
	}
}
.i-youtube{
	@include retina-sprite($youtube-group);
}
.i-casino{
	@include retina-sprite($casino-group);
}
.i-adult{
	@include retina-sprite($adult-websites-group);
}
.i-android{
	@include retina-sprite($android-group);
}
.i-ios{
	@include retina-sprite($ios-group);
}

@media (max-width: 768px){
	.work-with__item{
		width: 33.33%;
	}
	.avaliable__list{
		.work-with__item{
			width: 50%;
			justify-content: center;
		}
	}
}
@media (max-width: 576px){
	.work-with__header{
		width: 100%;
		margin-right: 0;
	}
	.work-with__list{
		width: 100%;
	}
}
@media (max-width: 412px){
	.avaliable__list{
		flex-wrap: wrap;
		width: 100%;
		.work-with__item{
			width: 100%;
			&:first-child{
				margin-bottom: 10px;
			}
		}
	}
}