@import 'common/variables';
@import 'common/mixins';
@import 'common/fonts';
@import 'common/base';
@import 'common/sprite-img';
@import 'blocks/**/*';




$status-colors: (
  primary: #000,
  success: #27BA6C,
  info: #03a9f4,
  warning: #FF8833,
  danger: #ff1a1a
);
.border-top-dashed{
	border-top: 1px dashed rgba(255,255,255,.26);
}
.header-purple--light{
	color: $purple;
	font-weight: $light;
	font-size: 28px;
}
.section__header{
	font-size: 36px;
	color: $textColorHeader;
}
.section__description{
	font-size: 24px;
	color: $textColorHeader;
	font-weight: $light;
}
.header-blue{
	color: $blue;
	font-size: 24px;
	font-weight: $light;
}
.header-white{
	color: $textColorWhite;
	font-size: 36px;
}
.text-purple{
	color: $textColorDarkPurple;
	font-size: 28px;
	font-weight: $light;
	span{
		display: inline-block;
		width: 100%;
	}
}