// Text color
$textColorNav: #9B9B9B;
$textColorHeader: #25154B;
$textColorWhite: #ffffff;
$textColorGrey: #5C6870;
$textColorFooter: #979797;
$textColorDarkPurple: #27174C;

// Background color
$backgroundGrey: #F9F9F9;

// Team color
$teamColorOne: #0033CB;
$teamColorTwo: #3686FF;
$teamColorThree: #29C49E;

// Main Colors
$blue: #00B1E7;
$purple: #673AB7;

// Font wieght
$bold: 700;
$regular: 400;
$light: 300;