extends ../_template

block variables
	- var title = ['Main','index page description','index page keywords']

block content
	include ../block/_header
	include ../block/_main-screen
	include ../block/_problem
	include ../block/_solution
	include ../block/_how-it-work
	include ../block/_why
	include ../block/_technology
	include ../block/_market-overview
	include ../block/_roadmap
	include ../block/_mail-form
	include ../block/_team
	include ../block/_partners
	include ../block/_mail-form
	include ../block/_footer

